* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* outline: 1px solid tomato; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    /* background-color: #121f3d; */
    display: flex;
    flex-direction: column;
    background-image: url(https://www.xtrafondos.com/wallpapers/arbol-de-navidad-en-medio-del-bosque-9049.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* margin-top: 70px; */
    /* justify-content: center; */

}
h1{
    justify-self: center;
    align-self: center;
    margin: 30px;
    color: black;
    font-size: 50px;
}

.fechas{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-self: center;
}

.fechas > div{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 70px;
}

.etiqueta-roja > div > p{
    width: 100px;
    background-color: #ff3a56;
    text-align: center;
    border-radius:  9px 9px 0 0;
    padding: 25px 0 5px 0;
}

.fechas > div > span{
    border: 5px solid aqua;
    border-radius:  0  0  10px 10px;
    width: 70px;
    padding: 10px 10px;
    background-color: aliceblue;
    /* font-weight: 30px; */
    font-size: 70px;
    display: flex;
    justify-content: center;

}

.aros{
    display: flex;
    justify-content: space-evenly;
}

.aro1, .aro2{
    border-radius: 10px;
    width: 10px;
    height: 35px;
    background-color: black;
    margin: 0 10px;
    position: absolute;
    top: -15px;

}

.aro1{
    left: 10px;
}
.aro2{
    right: 10px;
}

.etiqueta-roja{
    display: flex  ;
    flex-direction: column;
    position: relative;
}

.huecos-aros{
    width: 15px;
    height: 15px;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    left: -2px;

}